<div class="container">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3>My Messages</h3>
          <ul class="nav nav-tabs  ">
            <li >
              <%= link_to 'Received', messages_path%>
            </li>
            <li class="active">
              <%= link_to ' Sent',  sent_messages_path%>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <% @messages.each do |message| %>
            <div class="col-md-7">
              <strong> <%= link_to message.subject, message_path(:id=>message.id), style: 'color: #00BFFF; font-size: 20px; font-style: arial'%></strong> <br>
              <small><%= message.created_at.strftime("%D") %></small>
            </div>

            <div class="col-md-5">
              <%= link_to message, class: 'link', method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
