<div class="container">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs  ">
            <li >
              <%= link_to 'Received', messages_path%>
            </li>
            <li class="active">
              <%= link_to ' Sent',  sent_messages_path%>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <% @messages.each do |message| %>
            <div class="lv-item item" style="padding-bottom: 0px; padding-left: 0px">
              <div class="col-md-4 col-sm-4">
                <% receiver = User.find(message.receiver) %>
                To: <%= link_to receiver.name, message_path(:id=>message.id), style: 'color: #000; font-style: arial'%></strong>
              </div>
              <div class="col-md-6 col-sm-6">
                <%= link_to message.subject, message_path(:id=>message.id), style: 'color: #000; font-style: arial'%>
              </div>
              <div class="col-md-1 col-sm-1">
                <small><%= message.created_at.strftime("%D") %></small>
              </div>

              <div class="col-md-1 col-sm-1">
                <%= link_to message, class: 'link pull-right', method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </div>
              <hr>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
