<div class="col-sm-9">
  <p id="notice"><%= notice %></p>
  <p>
    <h3><%= @announcement.title %></h3>
  </p>
  <p>
    <%= @announcement.content %>
  </p>
  <%= link_to 'Edit', edit_announcement_path(@announcement), :class => 'btn btn-primary btn-md' %>
  <%= link_to 'Back', announcements_path, :class => 'btn btn-primary btn-md' %>
</div>
<style media="screen">
  h3{color: #009688}
</style>
