<%= form_for(@programme) do |f| %>
  <% if @programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>
      <ul>
      <% @programme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-control-wrapper" >
    <%= f.text_field :name, autofocus: true, autocomplete: "off", :class => 'form-control empty' %>
    <div class="floating-label">Programme name</div>
      <span class="material-input"></span>
  </div>
<br>
    Faculty: <%= f.select :faculty_id, options_for_select(Faculty.all.collect {|p| [p.name,p.id] }) %><br>
    <%= f.submit "Save", :class => 'btn btn-primary btn-md'%>
    <%= link_to 'Back', programmes_path, :class => 'btn btn-primary btn-md' %>
<% end %>
