
<div class="container col-sm-8">
  <p id="notice"><%= notice %></p>

  <h2>Programmes</h2>

  <table  class="table table-striped">
    <tbody>
      <% @programmes.each do |programme| %>
        <tr>
          <td><%= programme.name %></td>
          <td><%= link_to edit_programme_path(programme) do %><span class="glyphicon glyphicon-edit"></span> <% end %></td>
          <td><%= link_to programme, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove"></span> <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Programme', new_programme_path, :class => 'btn btn-primary btn-md'%>
</div>

<style media="screen">
  h2{color: #009688}
</style>
