<div class="content-side-right">
  <div class="container content">
    <div class="col-md-9">
      <div class=" col-md-12 margin-bottom-40">
        <% if !notice.nil? %>
          <div class="alert alert-info fade in">
            <p id="notice"><%= notice %></p>
          </div>
        <%end%>
        <div class="pull-left">
          <h2>Programmes</h2>
        </div>
        <div class="col-md-2 pull-right">
          <%= link_to 'New Programme', new_programme_path,  :class => 'btn btn-primary btn-sm pull-right' %>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <% if @programmes.any? %>
        <% @programmes.each do |programme| %>
          <div class="lv-item item">
            <div class="col-md-4" style="padding-left: 0px">
              <%= programme.name%>
            </div>
            <div class="col-md-4 ">
              <%= link_to edit_programme_path(programme),  style: 'color: grey', class: 'pull-right' do %><span class="glyphicon glyphicon-pencil"></span> <% end %>
            </div>
            <div class="col-md-4 pull-right">
              <%= link_to programme, class: 'pull-right', style: 'color: grey', method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash-o"></span> <% end %>
            </div>
            <br>
          </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
