<div class="container-fluid" style="width: 50%">
  <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-control-wrapper" >
    <%= f.text_field :student_id, autofocus: true, autocomplete: "off", :class => 'form-control empty' %>
    <div class="floating-label">id </div>
      <span class="material-input"></span>
  </div>

  <div class="form-control-wrapper">
    <%= f.email_field :email, autofocus: true, autocomplete: "off", :class => 'form-control empty' %>
    <div class="floating-label">email </div>
      <span class="material-input"></span>
  </div>

  <div class="form-control-wrapper">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control empty' %>
    <div class="floating-label">password </div>
      <span class="material-input"></span>
  </div>

  <div class="form-control-wrapper">
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control empty' %>
    <div class="floating-label">confirm password </div>
      <span class="material-input"></span>
  </div>

  <div class="action">
    <%= f.submit "Sign up", :class => 'btn btn-primary btn-flat' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
