<div class="content-side-right">
  <div class="container content">

    <div class="col-md-9">
      <div class=" col-md-12 margin-bottom-40">
        <p id="notice"><%= notice %></p>
        <div class="pull-left">
          <h2>Campuses</h2>
        </div>
        <div class="col-md-2 pull-right">
          <%= link_to 'Add Campus', new_campu_path,  :class => 'btn btn-primary btn-sm pull-right' %>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <strong><%= notice %></strong>
      <% if @campus.any? %>
        <% @campus.each do |campu| %>
            <div class="lv-item item">
              <div class="col-md-4" style="padding-left: 0px">
                <%= campu.name%>
              </div>
              <div class="col-md-4 ">
                <%= link_to edit_campu_path(campu),  style: 'color: grey', class: 'pull-right' do %><span class="glyphicon glyphicon-pencil"></span> <% end %>
              </div>
              <div class="col-md-4 pull-right">
                <%= link_to campu, class: 'pull-right', style: 'color: grey', method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash-o"></span> <% end %>
              </div>
              <br>
            </div>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
