<div class="col-sm-9">

<%= form_for(@carousel) do |f| %>
  <% if @carousel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carousel.errors.count, "error") %> prohibited this carousel from being saved:</h2>

      <ul>
      <% @carousel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-control-wrapper" >
    <%= f.text_field :name, :class => 'form-control empty' %>
    <div class="floating-label">Caption</div>
      <span class="material-input"></span>
  </div>
  <br>
    <%= f.file_field :image %>
    <br>



    <div class="modal-footer">
    <%= f.submit "Upload", :class=>'btn btn-primary' %>
      <button type="button" class="btn btn-primary btn flat" data-dismiss="modal">Close</button>
    </div>
<% end %>

</div>
