
  <%= semantic_form_for(@job) do |f| %>
      <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

          <ul>
            <% @job.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="job-padding" >
        <%= f.text_field :title, autofocus: true, placeholder: 'Title', :class => 'form-control' %>
      </div>

      <div class="job-padding" >
        <%= f.text_field :company, placeholder: "Company", :class => 'form-control' %>
      </div>

      <div class="job-padding" >
        <%= f.text_field :city, placeholder: 'City', :class => 'form-control' %>
      </div>

      <div class="job-padding" >
        <%= f.text_field :country, placeholder: 'Country', :class => 'form-control' %>
      </div>

      <div class="job-padding">
        Current
        <%= f.check_box :current %>
      </div>

      <div class="job-padding" >
        <%= f.input :from, :as => :date_select, :discard_year => false, :start_year => 1995,  :end_year => Date.current.year, :order => [:month, :year], :discard_day => true, :class => 'form-control' %>
      </div>

      <div class="job-padding" >
        <%= f.input :to, :as => :date_select, :discard_month => false, :start_year => 1995,  :end_year => Date.current.year,  :order => [:month, :year], :discard_day => true, :class => 'form-control' %>
      </div>

      <div class="job-padding" >
        <%= f.text_area :skills, placeholder: 'Skills', :class => 'form-control' %>
      </div>

      <div class="job-padding" >
        <%= f.text_area :experience, placeholder: 'Description', :class => 'form-control' %>
      </div>

      <div class="job-padding">
        <%= f.submit "Add Job", :class => 'btn-u' %>
        <%= link_to 'Back', user_profiles_path, class: 'btn-u btn-u-default' %>
      </div>
  <% end %>
