<div class="image-block">
  <div class="container">
    <div class="company-description">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="reg-header">
            <h2>Change your password</h2>
          </div>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <% if @minimum_password_length %>
              <em style="color:red">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, :class => 'form-control floatlabel', placeholder: 'New password',autofocus: true, autocomplete: "off" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, :class => 'form-control floatlabel', placeholder: 'Confirm new password', autocomplete: "off" %>
            </div>

            <div class="pull-right">
              <br>
              <%= f.submit "Change my password",  class: "btn-u" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
