<div class="headline"><h2>Recent Announcements</h2></div>
<div class="row news-v2 margin-bottom-50">
    <% if @announcements.any? %>
      <% @announcements.each do |announcement| %>
        <div class="col-sm-4 sm-margin-bottom-30">
            <div class="news-v2-badge">
                <img class="img-responsive" src="assets/img/main/img18.jpg" alt="">
                <p>
                    <span><%= announcement.created_at.strftime("%d")%></span>
                    <small><%= announcement.created_at.strftime("%b")%></small>
                </p>
            </div>
            <div class="news-v2-desc">
                <h3><%= link_to  announcement.title.html_safe, announcement_path(id: announcement.id)%></h3>
                <p><%= announcement.content%></p>
            </div>
        </div>
      <% end %>
  <% end %>
</div>

<div class="headline"><h2>Latest Events</h2></div>
<div class="row news-v2 margin-bottom-50">
  <div class="row news-v2 margin-bottom-50">
    <% if @events.any? %>
      <% @events.each do |event| %>
        <div class="col-sm-4 sm-margin-bottom-30">
            <div class="news-v2-badge">
                <img class="img-responsive" src="assets/img/main/img18.jpg" alt="">
                <p>
                    <span><%= event.created_at.strftime("%d")%></span>
                    <small><%= event.created_at.strftime("%b")%></small>
                </p>
            </div>
            <div class="news-v2-desc">
                <h3><%= link_to  event.title.html_safe,   event_path(id: event.id)%></h3>
                <p><%= event.description%></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
