<div class="main-content">
  <br>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Personal Info</h3></div>
        <div class="panel-body">
          <strong>Name:</strong><%=@request.name%>
          <br>
          <strong>Student ID:</strong><%=@request.student_id%>
          <br>
          <strong>Email:</strong><%=@request.email%>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Requested Date </h3></div>
        <div class="panel-body">
          <strong>Submitted on: </strong><%=@request.created_at.strftime("%D")%>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Academic</h3></div>
        <div class="panel-body">
          <strong>Faculty: </strong><%=@request.faculty%>
          <br>

          <strong>Programme: </strong><%=@request.programme%>
          <br>

          <strong>Campus: </strong><%=@request.campus%>
          <br>
          <strong>Intake: </strong><%=@request.intake%>
        </div>
      </div>
  </div>
  <%= link_to 'Back', requests_path, class: 'btn-u ' %>
</div>
