<h4>Job History</h4>
<% if @user.social_privacy_option != "Only Me" %>
  <%if @user.social_privacy_option == "My Batch"%>
      <% if @user.graduations.map { |b| b.batch} & current_user.graduations.map { |s| s.batch }%>
           <p>
             <a href="<%= @user.facebook %>">Facebook</a> <br>
             <a href="<%= @user.twitter %>">Twitter</a> <br>
             <a href="<%= @user.linkedin %>">LinkedIn</a> <br>
             <a href="<%= @user.instagram %>">Instagram</a> <br>
           </p>
      <% end %>
  <%elsif @user.social_privacy_option == "My Programme"%>
        <% if @user.graduations.map { |p| p.programme  }& search_result.graduations.map { |p| p.programme  } %>
            <p>
              <a href="<%= @user.facebook %>">Facebook</a> <br>
              <a href="<%= @user.twitter %>">Twitter</a> <br>
              <a href="<%= @user.linkedin %>">LinkedIn</a> <br>
              <a href="<%= @user.instagram %>">Instagram</a> <br>
            </p>
        <% end %>
  <%else%>
      <p>
        <a href="<%= @user.facebook %>">Facebook</a> <br>
        <a href="<%= @user.twitter %>">Twitter</a> <br>
        <a href="<%= @user.linkedin %>">LinkedIn</a> <br>
        <a href="<%= @user.instagram %>">Instagram</a> <br>
      </p>
  <% end %> <!--if social_privacy_otpion == My Batch -->
<% end %><!--if social != Only Me -->
