<%@jobs.each do |job| %>
  <% if @user.job_privacy_option != "Only Me" %>
      <%if @user.job_privacy_option == "My Batch"%>
          <% if @user.graduations.map { |b| b.batch} & current_user.graduations.map { |s| s.batch }%>
             <% if job.current == true%>
                 <br>
                 <div class="col-sm-6 pad">
                   <p>
                     <b><%= job.title %></b>[current]</p>
                     <p>  <%= job.company %> <%= job.city %>
                     <%= job.country %>
                       <!--<%= link_to edit_job_path(job) do %><span class="glyphicon glyphicon-edit"></span> <% end %>!-->
                     <p>
                      <% if !job.from.nil? && !job.to.nil? %>
                          From <%= job.from.strftime("%B %Y") %>
                      <% end %>
                    </p>
                 </div>
               <% else %>
                 <div class="col-sm-6 pad">
                   <p>
                     <b><%= job.title %></b></p>
                     <p>  <%= job.company %> <%= job.city %>
                     <%= job.country %>
                     <p>
                      <% if !job.from.nil? && !job.to.nil? %>
                          From <%= job.from.strftime("%B %Y") %> to <%= job.to.strftime("%B %Y")  %>
                      <% end %>
                    </p>
                 </div>
             <% end %>
          <% end %>
      <%elsif @user.job_privacy_option == "My Programme"%>
            <% if current_user.graduations.map { |p| p.programme  }& @user.graduations.map { |p| p.programme  } %>
              <% if job.current == "1"%>

                <div class="col-sm-6 pad">
                  <p>
                    <b><%= job.title %></b>[current]</p>
                    <p>  <%= job.company %> <%= job.city %>
                    <%= job.country %>
                      <!--<%= link_to edit_job_path(job) do %><span class="glyphicon glyphicon-edit"></span> <% end %>!-->
                    <p>
                     <% if !job.from.nil? && !job.to.nil? %>
                         From <%= job.from.strftime("%B %Y") %>
                     <% end %>
                   </p>
                </div>
              <% else %>

                  <div class="col-sm-6 pad">
                    <p><b><%= job.title %></b></p>
                      <p>  <%= job.company %> <%= job.city %>
                      <%= job.country %>
                      <p>
                       <% if !job.from.nil? && !job.to.nil? %>
                           From <%= job.from.strftime("%B %Y") %> to <%= job.to.strftime("%B %Y")  %>
                       <% end %>
                     </p>
                  </div>
              <% end %>
            <% end %>
      <%else%>
        <% if job.current == true%>
            <br>
            <div class="col-sm-6 pad">
              <p>
                <b><%= job.title %></b>[current]</p>
                <p>  <%= job.company %> <%= job.city %>
                <%= job.country %>
                <p>
                 <% if !job.from.nil? && !job.to.nil? %>
                     From <%= job.from.strftime("%B %Y") %>
                 <% end %>
               </p>
            </div>
          <% else %>
            <div class="col-sm-6 pad">
              <p><b><%= job.title %></b></p>
                <p>  <%= job.company %> <%= job.city %>
                <%= job.country %>
                <p>
                 <% if !job.from.nil? && !job.to.nil? %>
                     From <%= job.from.strftime("%B %Y") %> to <%= job.to.strftime("%B %Y")  %>
                 <% end %>
               </p>
            </div>
          <% end %>
      <% end %> <!--if job_privacy_otpion == My Batch -->
    <% end %><!--if job_privacy_otpion != Only Me -->
<% end %>
