
<h4>Job History</h4>
<%@jobs.each do |j| %>
  <% if @user.job_privacy_option != "Only Me" %>
      <%if @user.job_privacy_option == "My Batch"%>
          <% if @user.graduations.map { |b| b.batch} & current_user.graduations.map { |s| s.batch }%>
             <% if j.current == "1"%>
               <p>
                 <%= j.title %>
                 <strong>[current]</strong><br>
                 <%= j.city %>
                 <%= j.country %>
               </p>
               <% else %>
                 <%= j.city %>
                 <%= j.country %>
             <% end %>
          <% end %>
      <%elsif @user.job_privacy_option == "My Programme"%>
            <% if current_user.graduations.map { |p| p.programme  }& @user.graduations.map { |p| p.programme  } %>
              <% if j.current == "1"%>
                <p>
                  <%= j.title %>
                  <strong>[current]</strong><br>
                  <%= j.city %>
                  <%= j.country %>
                </p>
                <% else %>
                  <%= j.city %>
                  <%= j.country %>
                <% end %>
            <% end %>
      <%else%>
        <% if j.current == "1"%>
          <p>
            <%= j.title %>
            <strong>[current]</strong><br>
            <%= j.city %>
            <%= j.country %>
          </p>
          <% else %>
            <%= j.city %>
            <%= j.country %>
          <% end %>
      <% end %> <!--if job_privacy_otpion == My Batch -->
    <% end %><!--if job_privacy_otpion != Only Me -->
<% end %>
<%= will_paginate @jbos %>
