<h4>Job History</h4>
    <% if @jobs.current == "1"%>
      <p>
        <%= @jobs.title %>
        <strong>[current]</strong><br>
        <%= @jobs.city %>
        <%= @jobs.country %>
      </p>
      <% else %>
        <%= @jobs.city %>
        <%= @jobs.country %>
    <% end %>
<hr>
