<div class="container content profile">
  <div class="col-md-12">
    <div class="profile-body margin-bottom-20">
      <div class="tab-v1">
        <ul class="nav nav-justified nav-tabs">
            <li class="active"><a data-toggle="tab" href="#profile">Edit Profile</a></li>
            <li><a data-toggle="tab" href="#passwordTab">Edit Jobs</a></li>
            <li><a data-toggle="tab" href="#socials_privacy">Privacy Settings</a></li>
            <li><a data-toggle="tab" href="#socials">Edit Socials</a></li>
        </ul>
        <div class="tab-content">

          <div id="profile" class="profile-edit tab-pane fade in active">
            <h2>Edit Your Profile Info</h2></dd>
            <%= render partial: 'edit_info' %>
          </div>

          <div id="passwordTab" class="profile-edit tab-pane fade">
            <h2 class="pull-left col-sm-10">Manage your Job History</h2>
            <div class="col-sn-2">
               <%= link_to   new_job_path, :class => 'btn-u' do %>
                <span class="fa fa-plus-square"> New Job</span>
              <% end %>
            </div>
            <br>
              <%= render partial: 'edit_jobs' %>
          </div>

          <div id="socials_privacy" class="profile-edit tab-pane fade">
            <h2 class="heading-md">Social Privacy Settings</h2>
            <p>Below you can select who can see your profile and what they can see.</p>
            <br>
            <%= render partial: 'edit_privacy' %>
          </div>

          <div id="socials" class="profile-edit tab-pane fade">
            <h2 class="heading-md">Update Your Socials</h2>
            <br>
            <%= render partial: 'edit_socials' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
