    <p id="notice"><%= notice %></p>
      <div class=" col-lg-5" style="background :White;  padding-right :5px">
        <%= image_tag(@user.avatar_url(:thumb), :class => 'img-responsive img-rounded') if @user.avatar? %>
        <%= render 'profile_photo'%>
         <%= render 'profile'%>
          <hr>

          <% @jobs.each do |job|%>
            <% if job.user_id == current_user.id %>
              <% if job.current == "1"%>
                <p>
                  <%= job.title %> at <%= job.company %> <%= job.city %>
                  <%= job.country %>
                  <strong>[current]</strong>
                        <%= link_to edit_job_path(job) do %><span class="glyphicon glyphicon-edit"></span> <% end %>
                </p>
                <% else %>
                  <%= job.title %> at <%= job.company %> <%= job.city %>
                  <%= job.country %>
              <% end %>
            <% end %>
          <% end %>
      </div>

      <div class="col-lg-5" style="background :White; padding-left :1px">
        <p><%= link_to edit_user_profile_path(@user.id), :class => 'btn btn-primary btn btn-md' do %> <span class="glyphicon glyphicon-edit"> </span> <% end %> </p>
        <h3>Basic profile info</h3>
        <br/>

        <div style="height: 300px">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=375x300&maptype=roadmap&zoom=13&markers=#{@user.city}%2C#{@user.country}" %>
        </div>
      </div>
