<div class="container content profile">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-40">
      <%= render partial: 'bio' %>
      <hr>
      <%= render partial: 'skills' %>
      <hr>
      <div class="panel panel-profile">
          <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Social Contacts <small></small></h2>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled social-contacts-v2">
                <li><%= render partial:'socials' %></li>
            </ul>
          </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="profile-body">
        <div class="profile-bio">
          <div class="row">
            <div class="col-md-3" id="image_container">
              <%= image_tag(@user.avatar_url(:thumb), :class => 'img-responsive img-rounded md-margin-bottom-10') %>
              <a type="button" class="btn-u btn-u-sm" data-toggle="modal" data-target="#myModal" id="btn">
                 <span class="fa fa-camera"> Update Picture</span>
              </a>
              <%= render 'profile_photo'%>
            </div>
            <div class="col-md-7">
                <h2><%= @user.name %></h2>
                <span>
                  <% if @user.jobs.each.map { |x| x.current } %>
                    <h5><strong><%= @user.jobs.last.title %></strong></h5>
                  <%end%>
                </span>
                <hr>
                <p><%= @user.jobs.last.experience  %></p>
            </div>
          </div>
        </div>
        <hr>
        <div class="panel panel-profile">
          <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Experience</h2>
          </div>
          <div class="panel-body margin-bottom-40">
            <ul class="timeline-v2 timeline-me">
              <%=render partial: 'work_history' %>
            </ul>
          </div>
        </div>
        <hr>
        <div class="map margin-bottom-50">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=1000x200 &maptype=roadmap&zoom=14&markers=#{@user.city}%2C#{@user.country}" %>
        </div>
      </div>
    </div>
  </div>
</div>
