<%= form_for @user, url:settings_user_profiles_path(id: current_user.id) do |f|%>

  <div>
    <div class="col-sm-2 ">
      Location privacy:<br>
      <%= f.select :location_privacy_option, [""]+User::PRIVACY_OPTIONS.first(User::PRIVACY_OPTIONS.size()), :class => 'control'%>
    </div>
    <div class="col-sm-2 ">
      Social privacy: <br>
      <%= f.select :social_privacy_option, [""]+User::PRIVACY_OPTIONS.first(User::PRIVACY_OPTIONS.size()), :class => 'control'%>
    </div>
    <div class="col-sm-2">
      Contact privacy: <br>
      <%= f.select :contact_privacy_option, [""]+User::PRIVACY_OPTIONS.first(User::PRIVACY_OPTIONS.size()), :class => 'control'%>
    </div>
    <div class="col-sm-2">
      Job privacy: <br>
      <%= f.select :job_privacy_option, [""]+User::PRIVACY_OPTIONS.first(User::PRIVACY_OPTIONS.size()), :class => 'control'%>
    </div>
    <div class="col-sm-2" style="padding-top: 15px">
      I am looking for a job:
      <%= f.check_box :is_job_seeker%>
    </div>
    <div class="col-sm-2">
      <%= f.submit "Save", :class => "btn btn-primary"%>
    </div>
  </div>
<% end %>
