<%= semantic_form_for @user, url:settings_user_profiles_path(id: current_user.id) do |f|%>
  <div class="container content">
    <div class="col-sm-2 ">
      <%= f.input :location_privacy_option, as: :select, collection: [""]+User::PRIVACY_OPTIONS.first(User::PRIVACY_OPTIONS.size()), :class => 'control'%>
    </div>
    <div class="col-sm-2 ">
      <%= f.input :social_privacy_option,as: :select, collection: [""]+User::PRIVACY_OPTIONS.first(User::PRIVACY_OPTIONS.size()), :class => 'control'%>
    </div>
    <div class="col-sm-2">
      <%= f.input :contact_privacy_option, as: :select, collection: [""]+User::PRIVACY_OPTIONS.first(User::PRIVACY_OPTIONS.size()), :class => 'control'%>
    </div>
    <div class="col-sm-2">
      <%= f.input :job_privacy_option, as: :select,collection: [""]+User::PRIVACY_OPTIONS.first(User::PRIVACY_OPTIONS.size()), :class => 'control'%>
    </div>
    <div class="col-sm-2" style="padding-top: 15px">
      Looking for a job
      <%= f.check_box :is_job_seeker%>
    </div>
    <div class="col-sm-2">
      <%= f.submit "Save", :class => "btn btn-primary"%>
    </div>
  </div>
<% end %>
