<div class=" col-sm-12" style="padding-top :5px">
  <div class="col-sm-3" style="padding-left :0px; padding-right 25px">
    <div id="image_container">
      <%= image_tag(@user.avatar_url(:thumb), :class => 'img-responsive img-rounded position') if @user.avatar?%>
    </div>
  </div>
  <div class="col-sm-4">
      <font size="6"> <b><%= @user.name%></b></font>
      <font size="3">
      <p><%= @user.city%>, <%= @user.country%></p>
        <%= render 'profile'%>
        <div class="col-sm-1 pad">
          <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="col-sm-9 pad">
          <% @user.graduations.each do |x|%>
           <%= x.batch.month%> / <%= x.batch.year%>
           <%end%>
           <br>
           <% @user.graduations.each do |x|%>
            <%= x.programme.name%>
            <%end%>
            <br>
            <% @user.graduations.each do |x|%>
            <%= x.faculty.name%>
            <%end%>
            <br>
            <% @user.graduations.each do |x|%>
            <%= x.campu.name%>
            <%end%>
        </div>
    </div>

    <div class="col-sm-4">
      <div class="row pad">
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=425x200 &maptype=roadmap&zoom=14&markers=#{@user.city}%2C#{@user.country}" %>
      <font size="4">  <%= @user.city %>,  <%= @user.country %>.</font>
      </div>
    </div>
</div>

<div class="col-sm-12">
      <div class="row pad-left">
        <%= render 'socials' %>
      </div>
      <div class="row pad">
        <%= render 'work_history' %>
      </div>

  </font>
</div>

  <style>
     span{color:white}
     .position{position:relative;}
     #image_container{width:300px; height:auto }
     .pad{padding: 0px}
     .pad-left{padding-left :15px}
     .pad-bottom{padding-bottom: 0px;}
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      $(this).find("#btn").hide();
      $(document).on('mouseenter', '#image_container', function () {
          $(this).find("#btn").show();
      }).on('mouseleave', '#image_container', function () {
          $(this).find("#btn").hide();
      });
    });
  </script>
