<%#= render 'profile'%>
<%#= render 'work_history'%>

<div class="container col-sm-8" >
  <p id="notice"><%= notice %></p>
    <div class="contianer col-sm-5">
    <h3><%= @user.name%></h3>
      <%= render 'work_history'%>
    </div>

    <div class="container col-sm-7">
        <div style="width: 200px; height: 200px">
          <%= image_tag(@user.avatar_url(:thumb), :class => 'img-responsive img-rounded') if @user.avatar? %>
          <br>
      </div>
      <%= render 'profile'%>
        <br/>
        <div style="height: 300px">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&maptype=roadmap&zoom=13&markers=#{@user.city}%2C#{@user.country}" %>
        </div>
    </div>
</div>
