  <%= semantic_form_for @request do |f|%>
    <div class="reg-header">
        <h4>If you do not have an anlumni key or did not complete your studies in MMU fill up the following form.</h4>
    </div>
    <div class="form-group">
      <%= f.text_field :email, :class => 'form-control', placeholder: 'Email', :autocomplete => "off" %>
    </div>

    <div class="form-group">
      <%= f.text_field :name, :class => 'form-control', placeholder: 'Name', :autocomplete => "off" %>
    </div>
    <div class="form-group">
      <%= f.text_field :student_id, :class => 'form-control', placeholder: 'Student Id', :autocomplete => "off" %>
    </div>

    <div class="form-group">
      <%= f.input :campus, as: :select, collection: Campu.all.collect {|p| [p.name,p.name] }%>
    </div>

    <div class="form-group">
      <%= f.input :faculty, as: :select, collection: Faculty.all.collect {|p| [p.name,p.name] }%>
    </div>

    <div class="form-group">
      <%= f.input :programme, as: :select, collection: Programme.all.collect {|p| [p.name,p.name] }%>
    </div>
    <div class="form-group">
      <%= f.input :intake, as: :select, collection: Batch.all.collect {|p| [p.year, p.year] }%>
    </div>
      <%= f.submit "Submit", :class => 'btn btn-success btn-flat', style: 'width: 100%' %>
  <% end %>
