<div class="container content">
  <div class="row">
    <% if !notice.nil? %>
      <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong><%= notice %></strong>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="reg-page">
        <%= search_form_for @q , url:change_claim_index_path(student_id: params[:q]) do |f| %>
          <div class="reg-header">
              <h4>Enter Your Passport /Ic Number And Your Student Id</h4>
          </div>
          <div class="input-group margin-bottom-20">
            <span class="input-group-addon"></span>
            <%= f.search_field :id_number_eq, :class => 'form-control empty', placeholder: 'Id Number', :autocomplete => "off" %>
          </div>
          <div class="input-group margin-bottom-20">
            <span class="input-group-addon"></i></span>
            <%= f.search_field :student_id_eq, :class => 'form-control empty', placeholder: 'Student Id', :autocomplete => "off" %>
          </div>
          <%= f.submit "Claim", :class => 'btn btn-primary btn-flat rounded', style: 'width: 100%' %>
       <% end %>
       <br> <br>
     </div>
   </div>
 </div>
</div>
