<%= form_for(@user, url: employers_path) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="reg-page">
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :name, autofocus: true, placeholder: 'Name', autocomplete: "off", :class => 'form-control empty' %>
    </div>

    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :student_id, placeholder: 'Username', autocomplete: "off", :class => 'form-control empty' %>
    </div>

    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <%= f.email_field :email, placeholder: 'Email', autocomplete: "off", :class => 'form-control empty' %>
    </div>

    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, autofocus: false, placeholder: 'Password', autocomplete: "off", :class => 'form-control empty' %>
    </div>

    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, autofocus: false, placeholder: 'Confirm Password', autocomplete: "off", :class => 'form-control empty' %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.submit "Sign Up", :class => 'btn btn-u', style: 'width: 200px;' %>
      </div>
    </div>
  </div>
<% end %>
