<div class="breadcrumbs">
  <div class="container">
    <h4>Search Job Seekers By Programme And Graduation Year.</h4>
  </div>
</div>
<div class="container content">
  <div class="col-md-9 radius row-margin-bottom-20">
    <%= semantic_form_for @search, url:  search_employers_path do |f| %>
      <div class="col-sm-5  ">
        <strong class="search-label">Programme:</strong>
        <%= f.input :programme_id_eq, as: :select, collection: Programme.select("distinct name, id").map{|p| [p.name, p.id]}, :include_blank => true %>
      </div>

      <div class="col-sm-5">
        <strong class="search-label">Class:</strong>
        <%= f.input :batch_id_eq, as: :select, collection: Batch.all.map{|p| ["#{p.month} / #{p.year}", p.id] }, :include_blank => true%>
      </div>

      <div class="col-sm-2">
        <br>
        <%= f.submit "Search", :class => 'btn-u'%>
      </div>
    <% end %>
  </div>
</div>

<div class="container content profile">
  <div class="col-md-9">
    <div class="profile-body margin-bottom-20">
      <div class="row margin-bottom-20">
        <% if @users.any? %>
          <% @users.each do |user| %>
              <div class="col-sm-6 sm-margin-bottom-20">
                  <div class="profile-blog">
                    <% if user.user.avatar.blank? %>
                      <%= link_to image_tag("user.jpg", class: 'rounded-x'), user_profile_view_profile_path(user.user.id) %>
                    <%else%>
                      <%=link_to  image_tag(user.user.avatar_url(:thumb), :class => 'rounded-x'), user_profile_view_profile_path(user.user.id)%>
                    <%end%>
                      <div class="name-location">
                          <strong><%= user.user.name%></strong>
                          <span><%= user.programme.name %></span> <br>
                          <span>
                            <% if user.user.jobs.includes(:jobs).any?%>
                              <%= user.user.jobs.last.title%>,
                            <% end %>
                            <%= user.user.jobs.last.company%>
                          </span>
                      </div>
                      <div class="clearfix margin-bottom-20"></div>
                      <p></p>
                      <hr>
                      <ul class="list-inline share-list">
                          <li><i class="fa fa-phone"></i><%= user.user.phone %></li>
                          <li><i class="fa fa-envelope"></i><%= user.user.email %></li>
                      </ul>
                  </div>
              </div>
          <% end %>
        <% else %>
          <div class="profile-blog">
            <strong>No Record found!  </strong>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('label').hide();
</script>
