<div class="container-top">
  <% if !notice.nil? %>
    <div class="alert alert-info fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong><%= notice %></strong>
    </div>
  <%end%>
  <div class="pull-left">
    <h2>Batches</h2>
  </div>
  <div class="col-md-1 pull-right" id="file_uploader" style="padding-top: 5px">
    <%= render partial: 'import/file_uploader',  locals: {:klass => Graduation}%>
  </div>
  <div class="col-md-2 pull-right" style="padding-top: 5px">
    <%= link_to  new_batch_path, :class => 'btn-u btn-u-light-green', title: "New Batch" do%>
      <span class="fa fa-plus"></span>
    <% end %>
  </div>
</div>

<div class="main-content">
  <br>
  <table class="table table-hover">
    <tbody>
        <% if @batches.any? %>
          <% @batches.each do |batch| %>
          <tr>
            <td style="padding-top: 30px">
              <% if !batch.month.nil? && !batch.year.nil?%>
                <%= batch.month%> / <%= batch.year %>
              <% end %>
            </td>
            <td style="padding-top: 30px">
              <%= link_to edit_batch_path(batch), class: 'pull-right link' do %><span class="glyphicon glyphicon-pencil"></span> <% end %>
            </td>
            <td style="padding-top: 30px">
              <%= link_to batch, class: 'pull-right link', method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash-o"></span> <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
