<div class="container col-sm-8">
    <strong><%= notice %></strong>

<div class="col-sm-8">
  <h3>Listing Batches</h3>
</div>

  <div class="col-sm-2" id="file_uploader">
    <%= render partial: 'import/file_uploader',  locals: {:klass => Graduation}%>
  </div>
  <div class="col-sm-2">
    <%= link_to 'New Batch', new_batch_path, :class => 'btn btn-primary btn-sm' %>
  </div>

  <table class="table table-striped table-hover ">
    <thead>
    <tbody>
      <% @batches.each do |batch| %>
        <tr>
          <td>
            <% if !batch.month.nil? && !batch.year.nil?%>
              <%= batch.month%> / <%= batch.year %>
            <% end %>
          </td>
          <td><%= link_to edit_batch_path(batch) do %><span class="glyphicon glyphicon-edit"></span> <% end %></td>
          <td><%= link_to batch, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove"></span> <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @batches %>
  <br>

</div>

<style media="screen">
  h2{color: #009688}
</style>
