<div class="content-side-right">
  <div class="container content">

    <div class="col-md-9">
      <div class=" col-md-12 margin-bottom-40">
        <% if !notice.nil? %>
          <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong><%= notice %></strong>
          </div>
        <%end%>
        <div class="pull-left">
          <h2>Batches</h2>
        </div>
        <div class="col-md-1 pull-right" id="file_uploader">
          <%= render partial: 'import/file_uploader',  locals: {:klass => Graduation}%>
        </div>
        <div class="col-md-2 pull-right">
          <%= link_to 'New Batch', new_batch_path, :class => 'btn-u btn-u-light-green rounded' %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-sucess">
        <div class="panel-body">
            <% if @batches.any? %>
              <% @batches.each do |batch| %>
                <div class="lv-item item">
                    <div class="col-md-4 ">
                      <% if !batch.month.nil? && !batch.year.nil?%>
                        <%= batch.month%> / <%= batch.year %>
                      <% end %>
                    </div>
                    <div class="col-md-4">
                      <%= link_to edit_batch_path(batch), class: 'pull-right link' do %><span class="glyphicon glyphicon-pencil"></span> <% end %>
                    </div>
                    <div class="col-md-4 pull-right">
                      <%= link_to batch, class: 'pull-right link', method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash-o"></span> <% end %>
                    </div>
                    <br>
                  </div>
                  <hr>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
