<div class="container col-sm-8">
  <%= search_form_for @users do |f| %>
    <div class="form-control-wrapper">
      <%= f.search_field :user_name_cont, :class => 'form-control empty', :autocomplete => "off" %>
      <div class="floating-label">Name </div>
        <span class="material-input"></span>
    </div>
    <br />

    <div class="dropdown" >
      Class:
      <%= f.select :batch_id_eq, options_for_select([""]+Batch.all.map{|p| [ p.month.strftime("%B") << " " << p.year.strftime("%Y"), p.id ]}, {:include_blank => true}) %>
          Programme: <%= f.select :programme_id_eq, options_for_select([""]+Programme.all.map{|p| [p.name, p.id]}, {:include_blank => true}) %>
          <%= f.submit "Search", :class => 'btn btn-primary btn-flat' %>
      </div>
      <br>
  <% end %>
</div>
