<div class="container">
  <div class="col-sm-8 wrapper">

  <p id="notice"><%= notice %></p>

  <h2>Listing Graduations</h2>

  <%= render 'form' %>
  <table class="table table-striped table-hover">

    <tbody>
      <% @graduations.each do |graduation| %>
        <tr>
          <td>
              <%if !graduation.user.nil?%>
              <%= graduation.user.name %>
            <% else %>
                N/A
            <% end %>
          </td>
          <td>
            <%if !graduation.batch.nil? %>
              <%= graduation.batch.month %> / <%= graduation.batch.year %>
            <% else %>
                N/A
            <% end %>
          </td>
          <td>
            <%if !graduation.programme.nil?%>
              <%= graduation.programme.name %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td><%= link_to graduation, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove"></span> <% end %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <%= will_paginate @graduations %>
</div>

</div>
<style media="screen">
  h2{color: #009688;}
  .wrapper{padding: 0px}
</style>
