<%= render partial: 'locate_user'%>
<div class="job-img-inputs" >
  <div class="container content">
    <div class="col-md-10 col-md-offset-1 col-sm-6 col-sm-offset-3">
      <div class="row radius" id="form">
        <%= search_form_for @search_results, url:  file_content_find_users_path, remote: true,  onload: "getLocation();" do |f| %>
          <div class="col-sm-2 md-margin-bottom-10">
            <strong class="search-label">Campus:</strong><br><%= f.select :graduations_campu_id_eq, Campu.all.map{|p| [p.name, p.id]}, :include_blank => true, :class => 'col-md-7'%>
          </div>
          <div class="col-sm-3 md-margin-bottom-10">
            <strong class="search-label">Faculty of:</strong> <br><%= f.select :graduations_faculty_id_eq, Faculty.all.map{|p| [p.name, p.id]}, :include_blank => true%>
          </div>
          <div class="col-sm-3 md-margin-bottom-10">
            <strong class="search-label">Programme:</strong> <br><%= f.select :graduations_programme_id_eq,Programme.select("distinct name, id").map{|p| [p.name, p.id]}, :include_blank => true %>
          </div>
          <div class="col-sm-2 md-margin-bottom-10">
            <strong class="search-label">Class:</strong><br><%= f.select :graduations_batch_id_eq, Batch.all.map{|p| ["#{p.month} / #{p.year}", p.id] }, :include_blank => true%>
          </div>
          <div class="col-sm-2 md-margin-bottom-10">
            <br>
            <strong class="search-label">Current city:</strong> <%= f.check_box :is_current_city, checked: true %>
          </div>
          <div class="col-sm-2 md-margin-bottom-10 pull-right">
            <br>
            <%= f.submit :class => 'btn-u btn-u-red btn-lg', onclick: "getLocation();" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  .radius{ padding: 15px; background: #0d3880}
  .control{width: 300px; color: black}
  .search-label {color: white}
  .back{background: #eeeeee}
</style>
