<div id="result">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th >Name</th>
        <th >View</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |search_result| %>
        <tr>
          <% if search_result.is_graduate %>
            <% if search_result.id != current_user.id %>
                <% if search_result.location_privacy_option != "Only Me" %>
                  <% if search_result.location_privacy_option == "My Batch" %>
                    <% if current_user.graduations.map{|x| x.batch} & search_result.graduations.map{|s| s.batch}%>
                      <td><%= search_result.name%></td>
                      <% if search_result.job_privacy_option != "Only Me" %>
                        <%if search_result.job_privacy_option == "My Batch"%>
                            <% search_result.jobs.each do |u|%>
                               <% if current_user.graduations.map { |b| b.batch}&job.graduations.map { |s| s.batch }%>
                                 <% if u.current == "1" %>
                                   <td><%= u.title %></td>
                                   <td><%= u.company %></td>
                                 <% end %>
                                 <% if u.current == "1" %>
                                     <td><%= u.title %></td>
                                     <td><%= u.company %></td>
                                     <td> <%= link_to "View Profile", user_profile_view_profile_path(search_result.id)%></td>
                                   <% end %>
                               <% end %>
                            <% end %>
                        <%elsif search_result.job_privacy_option == "My Programme"%>
                            <% search_result.jobs.each do |u|%>
                              <% if current_user.graduations.map { |p| p.programme  }& search_result.graduations.map { |p| p.programme  } %>
                                <% if u.current == "1" %>
                                  <td><%= u.title %></td>
                                  <td><%= u.company %></td>
                                  <td> <%= link_to "View Profile", user_profile_view_profile_path(search_result.id)%></td>
                                <% end %>
                              <% end %>
                            <% end %><!--loop -->
                        <%else%>
                            <% search_result.jobs.each do |u|%>
                              <% if u.current == "1" %>
                                <td><%= u.title %></td>
                                <td><%= u.company %></td>

                                <td> <%= link_to "View Profile", user_profile_view_profile_path(search_result.id)%></td>
                              <% end %>
                            <% end %>
                        <% end %> <!--if job_privacy_otpion == My Batch -->
                      <% end %><!--if job_privacy_otpion != Only Me -->
                    <% end %><!--batch intersection checking -->
                  <%elsif search_result.location_privacy_option == "My Programme"%>
                      <% if current_user.graduations.map { |n| n.programme  } & search_result.graduations.map { |n| n.programme }%>
                          <% if search_result.job_privacy_option != "Only Me" %>
                            <%if search_result.job_privacy_option == "My Batch"%>
                                <% search_result.jobs.each do |job|%>
                                  <% if current_user.graduations.map { |b| b.batch} & job.graduations.map { |s| s.batch }%>
                                    <% if u.current == "1" %>
                                      <td><%= u.title %></td>
                                      <td><%= u.company %></td>
                                      <td> <%= link_to "View Profile", user_profile_view_profile_path(search_result.id)%></td>
                                    <% end %>
                                  <% end %>
                                <% end %>
                            <%elsif search_result.job_privacy_option == "My Programme"%>
                                <% search_result.jobs.each do |u|%>
                                  <% if current_user.graduations.map { |p|  p.programme} & search_result.graduations.map { |s|  s.programme} %>
                                    <td><%= u.title %></td>
                                    <td><%= u.company %></td>
                                    <td> <%= link_to "View Profile", user_profile_view_profile_path(search_result.id)%></td>
                                  <% end %>
                                <% end %>
                            <% else %>
                                <% search_result.jobs.each do |u|%>
                                  <% if u.current == "1" %>
                                    <td><%= u.title %></td>
                                    <td><%= u.company %></td>
                                    <td> <%= link_to "View Profile", user_profile_view_profile_path(search_result.id)%></td>
                                  <% end %>
                                <% end %>
                            <% end %> <!--if job_privacy_option == Everyone -->
                          <% end %><!--if job_privacy_option != Only Me -->
                      <% end %><!--programme intersection checking -->
                  <%else %>
                    <% if current_user.graduations.map{|x| x.batch} & search_result.graduations.map{|s| s.batch}%>
                      <td><%= search_result.name%></td>
                      <% if search_result.job_privacy_option != "Only Me" %>
                          <%if search_result.job_privacy_option == "My Batch"%>
                              <% search_result.jobs.each do |u|%>
                                <% if current_user.graduations.map{|x| x.batch} & search_result.graduations.map { |s| s.batch }%>
                                  <% if u.current == "1" %>
                                    <td><%= u.title %></td>
                                    <td><%= u.company %></td>
                                    <td> <%= link_to "View Profile", user_profile_view_profile_path(search_result.id)%></td>
                                  <% end %>
                                <% end %>
                              <% end %>
                          <%elsif search_result.job_privacy_option == "My Programme"%>
                              <% search_result.jobs.each do |u|%>
                                <% if current_user.graduations.map { |p|  p.programme} & search_result.graduations.map { |s|  s.programme} %>
                                  <% if u.current == "1" %>
                                    <td><%= u.title %></td>
                                    <td><%= u.company %></td>
                                    <td> <%= link_to "View Profile", user_profile_view_profile_path(search_result.id)  %></td>
                                  <% end %>
                                <% end %>
                              <% end %>
                          <% else %>
                              <% search_result.jobs.each do |u|%>
                                <% if u.current == "1" %>
                                  <td><%= u.title %></td>
                                  <td><%= u.company %></td>

                                <% end %>
                                <td>
                                  <ul>
                                    <% search_result.graduations.each do |x|%>
                                      <li><%= x.batch.month%> / <%= x.batch.year%></li>
                                      <%end%>
                                  </ul>
                                </td>

                                <td> <%= link_to "View Profile",  user_profile_view_profile_path(search_result.id)%></td>
                              <% end %>
                          <% end %> <!--if job_privacy_option == Everyone -->
                        <% end %><!--if job_privacy_option != Only Me -->
                    <% end %><!--batch intersection checking -->
                  <% end %><!--if locaiton == My Batch -->
                <% end %><!--if locaiton == only me -->
          <% end %><!--curren_user id -->
        <% end %><!--is_graudate-->
      </tr>
      <% end %><!--search_result -->
    </tbody>
  </table>
  <%#= will_paginate @usrs %>
</div>
