<div class="breadcrumbs">
  <div class="container">
     <div class="col-md-12" >
          <ul class="nav nav-tabs  ">
            <li class="active">
              <%= link_to 'Browse', find_users_path%>
            </li>
            <li>
              <%= link_to 'Map View', map_view_find_users_path%>
            </li>
          </ul>
      </div>
  </div>
</div>

<br>
<%= render partial: 'locate_user' %>

<div class="container">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading" style="color: black">
        <br>
        <%= render partial: 'form' %>
        <br><br>
      </div>

      <div class="panel-content" id="render_list">
        <%= render partial: 'user_list' %>
      </div>
    </div>
  </div>
</div>
