<div class="breadcrumbs">
  <div class="container">
     <div class="col-md-12" >
          <ul class="nav nav-tabs  ">
            <li class="active">
              <%= link_to 'Browse', find_users_path%>
            </li>
            <li>
              <%= link_to 'Map View', map_view_find_users_path%>
            </li>
          </ul>
      </div>
  </div>
</div>

<br>
<%#= render partial: 'locate_user' %>

<div class="container">
  <div class="col-md-12">
    <div class="panel panel-primary" style="border: none; box-shadow: none;">
      <div class="panel-heading" style="color: black">
      <%#= render 'form'%>
      <br>
          <%= search_form_for @search_results, url: find_users_path, id: 'form' do |f| %>
          <div class="col-sm-12">
            <div class="col-md-6 md-margin-bottom-10">
              <strong class="search-label">Faculty of:</strong> <%= f.select :graduations_faculty_id_eq, Faculty.all.map{|p| [p.name, p.id]}, :include_blank => true%>
            </div>
            <div class="col-md-6 md-margin-bottom-10">
              <strong class="search-label">Programme:</strong> <%= f.select :graduations_programme_id_eq,Programme.select("distinct name, id").map{|p| [p.name, p.id]}, :include_blank => true %>
            </div>
          </div>
          <br><br>
          <div class="col-sm-12 ">
            <div class="col-md-3 md-margin-bottom-10">
              <strong class="search-label">Campus:</strong><%= f.select :graduations_campu_id_eq, Campu.all.map{|p| [p.name, p.id]}, :include_blank => true, :class => 'col-md-7'%>
            </div>
            <div class="col-md-3 md-margin-bottom-10">
              <strong class="search-label">Class:</strong><%= f.select :graduations_batch_id_eq, Batch.all.map{|p| ["#{p.month} / #{p.year}", p.id] }, :include_blank => true%>
            </div>
            <div class="col-md-3 md-margin-bottom-10">

              <%= f.check_box :is_current_city, checked: false %><strong class="search-label"> Current city</strong>
            </div>
            <div class="col-md-2 md-margin-bottom-10 ">
              <%= f.submit :class => 'btn-u btn-u-red btn-lg pull-right', id: 'button' %>
            </div>
          </div>
          <% end %>
          <br><br>
      </div>
      <div class="panel-content">
        <br>
        <%= render partial: 'user_list' %>
      </div>
    </div>
  </div>
</div>


  <script>
  //  getLocation();
  </script>
