<!--=== Header ===-->
<div class="header">
  <div class="container">
    <!-- Logo -->
    <a class="logo " href="#">
      <img src="images/logo1-default.png" alt="logo" />
    </a>
    <!-- End Logo -->

    <!-- Topbar -->
    <div class="topbar">
        <ul class="loginbar pull-right">
          <% if user_signed_in?%>
            <li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            </li>
            <li class="topbar-devider"></li>
            <li>
              Welcome <%= current_user.name %>
            </li>

          <%else%>
          <li>
            <% if controller.controller_name == "employers" %>
              <a href="#" data-toggle="modal" data-target="#myModal">Login</a>
            <%else%>
              <%= link_to "Login", user_session_path %>
            <%end%>
          </li>
          <li class="topbar-devider"></li>
          <li>
            <% if controller.controller_name == "employers" %>
              <a href="#" data-toggle="modal" data-target="#sign_up">Sign Up</a>
            <%else%>
              <%= link_to "Sign Up",  claim_account_claim_index_path %>
            <%end%>
          </li>
          <%end%>
        </ul>
    </div>
    <!--  End Topbar -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
    </button>
  </div>
    <!-- Navbar -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="active">
              <%= link_to find_users_path do %>
              <span class="glyphicon glyphicon-home"></span>
            <%end%>
          </li>
          <% if user_signed_in?%>
            <li>
              <%= link_to user_profiles_path(current_user) do %>
                <span class="icon-user"></span>
              <%end%>
            </li>
            <li>
              <%= link_to find_users_path do %>
                <span class="icon-magnifier"></span>
              <%end%>
            </li>
            <li>
            <%= link_to privacy_user_profiles_path(id: current_user.id) do %>
            <span class="icon-custom icon-lg icon-color-u fa fa-cog"></span>
            <%end%>
          </li>
          <%else%>
            <li>
                <%= link_to "For employers", employers_path %>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
    <!-- End Navbar -->

</div>
<!--=== End Header ===-->
