<!--=== Header ===-->
<div class="header">
  <div class="container">
    <!-- Logo -->
    <a class="logo logo-container" href="/">
      <%= image_tag('logo_mmu.png', class: 'logo-container')  %>
    </a>
    <br>
    <!-- End Logo -->

    <!-- Topbar -->
    <div class="topbar">
        <ul class="loginbar pull-right">
          <% if user_signed_in?%>
            <li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            </li>

            <li class="topbar-devider"></li>

            <li>
              Welcome <%= current_user.name %>
            </li>

          <%else%>
          <li>
            <% if controller.controller_name == "employers" %>
              <a href="#" data-toggle="modal" data-target="#myModal" class="btn-u" style= "color: white">Login</a>
            <%else%>
              <%= link_to "Login", user_session_path, class: "btn-u", style: 'color: white' %>
            <%end%>
          </li>



          <li>
            <% if controller.controller_name == "employers" %>
              <a href="#" data-toggle="modal" data-target="#sign_up" style= "color: white"  class="btn-u">Sign Up</a>
            <%else%>
              <%= link_to "Sign Up",  claim_account_claim_index_path, style: 'color: white',  class: "btn-u" %>
            <%end%>
          </li>

          <%end%>
        </ul>
    </div>
    <!--  End Topbar -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>

  </div>
    <!-- Navbar -->
    <br />

<% if user_signed_in?%>
  <% if current_user.is_graduate%>
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse bottom-nav"  role="navigation" >
      <div class="container">
        <ul class="nav navbar-nav">
          <li class='<%= "active" if controller.controller_name == "home"%>'>
            &nbsp;&nbsp;
          </li>

          <% if user_signed_in?%>
              <% if current_user.is_graduate %>
                <li class='<%= "active" if controller.controller_name == "home"%>'>
                  <%= link_to home_index_path, title: 'Home' do %>
                    <span class="fa fa-home fa-lg"></span>
                  <%end%>
                </li>

                  <li class='<%= "active" if (controller.controller_name == "user_profiles" && controller.action_name != "privacy")%>'>
                    <%= link_to user_profiles_path, title: 'Profile' do %>
                      <span class="fa fa-user fa-lg"></span>
                    <%end%>
                  </li>

                  <li class='<%= "active" if (controller.controller_name == "messages")%>'>
                    <%= link_to messages_path, title: 'Messages' do %>
                      <span class="fa fa-comments fa-lg"></span>
                    <%end%>
                  </li>
                  <li class='<%= "active" if controller.controller_name == "find_users"%>'>
                    <%= link_to find_users_path, title: 'Find Users' do %>
                      <span class="fa fa-search fa-lg"></span>
                    <%end%>
                  </li>
              <% else %>

              <% end %>
          <%else%>

          <li class='<%= "active" if controller.controller_name == "home"%>'>
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home"></span>
            <%end%>
          </li>

            <li class='<%= "active" if controller.controller_name == "employers"%>'>
                <%= link_to "For employers", employers_path %>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
    <!-- End Navbar -->
    <%end%>
 <%else%>
  <%= render partial: 'layouts/navigation' %>
 <%end%>
</div>
<!--=== End Header ===-->
