
  <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1" style="list-style-type: none;padding-left: 0px">
      <li class='<%= "active" if controller.controller_name == "campus"%> "list-group-item l-size "'>
        <%= link_to campus_path,  class: "color-link" do%>
          <span class="fa fa-building" aria-hidden="true">&nbsp; Campuses</span>
        <% end %>
      </li>

      <li class='<%= "active" if controller.controller_name == "faculties"%> "list-group-item l-size "'>
        <%= link_to  faculties_path,  class: "color-link" do%>
          <span class="fa fa-university" aria-hidden="true">&nbsp; Faculties</span>
        <% end %>
      </li>

      <li class='<%= "active" if controller.controller_name == "programmes"%> "list-group-item l-size "'>
        <%= link_to programmes_path,  class: "color-link" do %>
          <span class="fa fa-book" aria-hidden="true">&nbsp; Programmes</span>
        <% end %>
      </li>

      <li class='<%= "active" if controller.controller_name == "batches"%> "list-group-item l-size "'>
        <%= link_to batches_path,  class: "color-link" do %>
            <span class="fa fa-calendar" aria-hidden="true">&nbsp; Batches</span>
        <% end %>
      </li>

      <li class='<%= "active" if controller.controller_name == "graduations"%> "list-group-item l-size "'>
        <%= link_to  graduations_path,  class: "color-link" do %>
          <span class="fa fa-graduation-cap" aria-hidden="true">&nbsp; Graduates</span>
        <% end %>
      </li>

      <li class='<%= "active" if controller.controller_name == "members"%> "list-group-item l-size "'>
        <%= link_to  members_path,  class: "color-link" do%>
          <span class="fa fa-users" aria-hidden="true">&nbsp; Admin List</span>
        <% end %>
      </li>

      <li class='<%= "active" if controller.controller_name == "announcements"%> "list-group-item l-size "'>
        <%= link_to  announcements_path,  class: "color-link" do%>
          <span class="fa fa-volume-up " aria-hidden="true">&nbsp; Announcements</span>
        <% end %>
      </li>

      <li class='<%= "active" if controller.controller_name == "events"%> "list-group-item l-size "'>
          <%= link_to  events_path,  class: "color-link" do%>
            <span class="fa fa-calendar-o" aria-hidden="true">&nbsp;  Events</span>
          <% end %>
      </li>

      <li class='<%= "active" if controller.controller_name == "requests"%> "list-group-item l-size "'>
        <%= link_to 'Account Requests',  requests_path,  class: "color-link"%>
      </li>
  </ul>
