<!DOCTYPE html>
<html>
  <head>
    <title>Alumni</title>
    <%= stylesheet_link_tag    'application'%>
    <%= csrf_meta_tags %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin">
  </head>
    <body>
      <div class="wrapper">
        <%= render 'layouts/header' %>
        <% if user_signed_in?%>
          <% if !current_user.is_graduate && !current_user.is_employer %>
            <%= render 'layouts/sidebar' %>
          <%end%>
        <%end%>
        <%= yield %>
        <% if !user_signed_in? %>
          <%= render partial: 'layouts/footer' %>
        <%end%>
      </div>
        <%= javascript_include_tag 'application'%>
    </body>

    <script>
      $("#bar").hide();

      <% if user_signed_in?%>
          var old_city = "<%= current_user.city%>";
          var current_city = window.name;

          if(current_city != old_city){
            $("#bar").show();
          }
          else{
            $("#bar").hide();
          }
          $("#button").click(function(){
            $("#bar").hide();
          });
      <%end%>

      jQuery(document).ready(function() {
          App.init();
          OwlCarousel.initOwlCarousel();
          ParallaxSlider.initParallaxSlider();
          App.initParallaxBg();
          App.initScrollBar();
          Datepicker.initDatepicker();
          CirclesMaster.initCirclesMaster1();
          App.initSidebarMenuDropdown();
      });

    </script>
</html>
