<h1>Editing User</h1>

<%= form_for(@user, url: member_path(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container center well" style="width: 40%">
  <%= form_for(@user, url: members_path) do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-control-wrapper" >
      <%= f.text_field :name, autofocus: true, autocomplete: "off", :class => 'form-control empty' %>
      <div class="floating-label">Name</div>
        <span class="material-input"></span>
    </div>

    <div class="form-control-wrapper" >
      <%= f.text_field :student_id, autofocus: true, autocomplete: "off", :class => 'form-control empty' %>
      <div class="floating-label">Id </div>
        <span class="material-input"></span>
    </div>

    <div class="form-control-wrapper">
      <%= f.email_field :email, autofocus: true, autocomplete: "off", :class => 'form-control empty' %>
      <div class="floating-label">Email </div>
        <span class="material-input"></span>
    </div>



      <%= f.submit "Update", :class => 'btn btn-primary btn-flat' %>
      <div class="ripple-wrapper"> </div>


  <% end %>
<% end %>


<%= link_to 'Show', @member, :class => 'btn btn-primary btn-flat' %> |
<%= link_to 'Back', members_path, :class => 'btn btn-primary btn-flat' %>
