  <div class="main-content">
    <br>
      <div class="panel panel-default">
        <div class="panel-heading"><Strong>Editing User</Strong></div>
        <div class="panel-body">

          <%= form_for(@user, url: member_path(@user)) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <%= semantic_form_for(@user, url: members_path) do |f| %>
              <% if @user.errors.any? %>
                <div class="alert alert-dismissable alert-danger">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                  <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-control-wrapper user-form col-md-6" >
                <%= f.text_field :name, autofocus: true, autocomplete: "off", placeholder: 'Name', :class => 'form-control empty' %>
              </div>

              <div class="form-control-wrapper user-form col-md-6" >
                <%= f.text_field :student_id, autocomplete: "off", placeholder: 'Id', :class => 'form-control empty' %>
              </div>

              <div class="form-control-wrapper user-form col-md-6">
                <br>
                <%= f.email_field :email, autocomplete: "off", placeholder: 'Email', :class => 'form-control empty' %>
              </div>

              <div class="form-control-wrapper user-form col-md-6" >
                <%= f.input :campus, as: :select, collection: Campu.all.collect {|p| [p.name, p.id] }%>
              </div>

              <div class="form-control-wrapper user-form col-md-6" >
                <%= f.input :faculty, as: :select, collection: Faculty.all.collect {|p| [p.name, p.id] }%>
              </div>

              <div class="form-control-wrapper user-form col-md-6" >
                <%= f.input :programme, as: :select, collection: Programme.all.collect {|p| [p.name, p.id] }%>
              </div>

              <div class="form-control-wrapper user-form col-md-6" >
                <%= f.input :batch, as: :select, collection: Batch.all.collect {|p| [p.year, p.id] }%>
              </div>


              <div class="form-control-wrapper user-form col-md-6" >
                <%= f.input :is_graduate, :as => :radio, label: "Are you admin" %>
              </div>

              <p>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <br />
                <% end %>
              </p>

              <div class="form-control-wrapper user-form col-md-6">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', :class => 'form-control empty' %>
              </div>

              <div class="form-control-wrapper user-form col-md-6">
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', :class => 'form-control empty' %>
              </div>

              <div class="user-form">
                <%= f.submit "Update", :class => 'btn-u' %>
                <%= link_to 'Back', members_path, :class => 'btn-u btn-u-default' %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
